$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #f16d7f;
$white: #FFFFFF;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$grey-input: #E1E1E1;
$placholder-text: #222224;
$footer-text:#FBFBFB;
$grey-text: #6F6E6E;
$light-pink: #F8F3F4;
$registr__text: #B1B1B1;